/*Main section*/
*{
    margin: 0% 0%;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #29293d09;
    border: 1px solid #29293D;
    border-radius: 0px;
    width: 80%;
    height: 100%;
    margin: 2% 0%;
    padding: 2% 2%;
}

/*Top section*/
.top-part{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-div-top{
    display: flex;
    flex-direction: column;
}

.main-title{
    color: #29293D;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0.5% 0.5%;
}

.input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-input{
    background-color: white;
    border: 1px solid #29293D;
    color: #29293D;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 3px;
    width: 50%;
    margin-right: 1%;
    padding: 0.5% 1.5%;
    outline: none;
    transition: box-shadow .15s;
}

::placeholder { 
    color: rgba(207, 207, 207, 0.700);
  }

.item-input:hover{
    box-shadow: inset 0px 0px 3px #29293d6b;
    outline: none;
}
.item-input:focus{
    box-shadow: inset 0px 0px 3px #29293d6b;
    outline: none;
}

.input-button{
    background-color: white;
    border: 1px solid #29293D;
    color: #29293D;
    font-size: 17px; 
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 0.5% 1.5%;
    transition:  box-shadow .3s, background-color .3s, color .3s;
}

.input-button:hover{
    box-shadow: 0px 0px 3px #29293D;
    background-color: #29293D;
    color: white;
}

.input-button:active {
    opacity: 0.8;
}


/*Bottom section*/
.bottom-part{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-div-bot{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 2.5%;
}

.list-title{
    color: #29293D;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0.5% 0.5%;
}

/*List group section*/
.list-div{
    padding: 0% 0%;
}

.list-group{
    height: 59vh;
    padding: 0% 0%;
    overflow: hidden;
    overflow-y: scroll;
}

.list-group::-webkit-scrollbar{
    width: 10px;
}

.list-group::-webkit-scrollbar-track{
    background: #29293d25;
}

.list-group::-webkit-scrollbar-thumb{
    background: #29293D;
}

.list-group-item{
    color: #29293D;
    background-color: white;
    box-shadow: inset 0px 0px 2px #29293db6;
    font-size: 18px;
    list-style: none;
    letter-spacing: 3px;
    padding: 1% 2%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.delete-button{
    background-color: white;
    border: 1px solid #29293D;
    color: #29293D;
    float: right;
    margin-top: 1.7px;
    transition:  box-shadow .3s, background-color .3s, color .3s;
}

.delete-button:hover {
    box-shadow: 0px 0px 3px #29293D;
    background-color: #29293D;
    color: white;
}

.delete-button:active {
    opacity: 0.8;
}