@media screen and (max-width:415px){
    .nav-bar{
        gap: 20%;
    }

    .wrapper {
        width: 90%;
        margin: 3% 0%;
        padding: 2% 2%;
    }

    .item-input{
        width: 65%;
        margin-right: 2%;
    }

    .list-group{
        height: 75vh;
    }

    .list-group-item{
        margin-bottom: 2%;
    }
}